/* ✅ 右側區塊 */
.rightSection {
    width: 80%;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;

  
}

/* ✅ 表單標題 */
.rightSection h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 25px;
    color: #0F3D3E;
}

/* ✅ 輸入框樣式 */
.label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;

}

.input {
    width: 98%;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 6px;
    outline: none;
    margin-bottom: 30px;
}

.input:focus {
    border-color: #0F3D3E;
}

/* ✅ 送出按鈕 */
.submitSection {
    width: 100%;
    margin-top: 40px;
    text-align: right;  /* 讓內容靠右 */
    display: flex;
    padding: 2px;
    justify-content: flex-end; /* 讓按鈕對齊右側 */


}

.submitBtn {
    width: 120px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: #0F3D3E;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
   
}

.submitBtn:hover {
    background: #146C94;
}
