.notificationBell {
    position: relative; /* 使下拉選單定位於鈴鐺旁邊 */
  }
  
  .notificationDropdown {
    display: none; /* 默認隱藏 */
    position: absolute;
    top: 30px; /* 位置調整 */
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    width: 300px; /* 下拉框寬度 */
    height: 300px; /* 下拉框寬度 */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .notificationDropdown.open {
    display: block; /* 顯示下拉選單 */
  }
  
  .notificationSectionTitle {
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    background-color: #f8f8f8;
  }
  
  .notificationSeparator {
    border-bottom: 2px solid #ccc; /* 添加底線 */
    margin: 0 10px;
  }
  
  .notificationItem {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .notificationItem:last-child {
    border-bottom: none; /* 最後一項不顯示底部邊框 */
  }
  
  .notificationLink {
    text-decoration: none;
    color: #333; /* 字體顏色 */
  }
  
  .notificationLink:hover {
    background-color: #b71a1a; /* 懸停時的背景顏色 */
    color: #e19a38; /* 懸停時的文字顏色 */
  }
  
  .notificationCount {
    font-size: 12px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    position: absolute;
    top: -20px;
    right: -15px;
  }
  