@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?92qtks');
  src:  url('fonts/icomoon.eot?92qtks#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?92qtks') format('truetype'),
    url('fonts/icomoon.woff?92qtks') format('woff'),
    url('fonts/icomoon.svg?92qtks#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Volleyball:before {
  content: "\e900";
}
.icon-Badminton:before {
  content: "\e911";
}
.icon-Bell:before {
  content: "\e915";
}
.icon-Location-Fill:before {
  content: "\e909";
}
.icon-Heart-Fill:before {
  content: "\e914";
}
.icon-Location:before {
  content: "\e913";
}
.icon-Basketball:before {
  content: "\e901";
}
.icon-Minus:before {
  content: "\e912";
}
.icon-Plus:before {
  content: "\e90c";
}
.icon-User:before {
  content: "\e910";
}
.icon-Search:before {
  content: "\e90f";
}
.icon-More:before {
  content: "\e90e";
}
.icon-Cart:before {
  content: "\e902";
}
.icon-Edit:before {
  content: "\e905";
}
.icon-Dropdown:before {
  content: "\e903";
}
.icon-Dropup:before {
  content: "\e904";
}
.icon-Fb:before {
  content: "\e906";
}
.icon-Ig:before {
  content: "\e907";
}
.icon-Mail:before {
  content: "\e90d";
}
.icon-Left:before {
  content: "\e908";
}
.icon-Like-Stroke:before {
  content: "\e90a";
}
.icon-Right:before {
  content: "\e90b";
}
