.title {
  width: 100%;
  padding: 15px 5px;
  display: flex;
  background-color: #29755D;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-sizing: border-box;
}

.titleName {
  width: 100%;
  margin-left: 20px;
}

.title2 {
  width: 100%;
  padding: 15px 5px;
  display: flex;
  background-color: #29755D;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-sizing: border-box;
}

.titleName2 {
  width: 100%;
  margin-left: 20px;
}

.shipContainer {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.shipContainer2 {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  height: 240px;
}

.optionContainer {
  display: flex;
  flex-direction: column;
  padding: 5px;
  
}

.optionContainer:last-child {
  border-bottom: none;
}

.payMethod, 
.shipMethod {
  width: auto;
  display: flex;
  padding: 0px 18px;
  padding-top: 15px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
  align-items: center; /* 這樣會讓input和文字垂直居中對齊 */
}

.member label {
  width: auto;
  display: flex;
  padding: 0px 18px;
  padding-top: 15px;
  
  font-weight: bold;
  margin-top: 5px;
  align-items: center; /* 這樣會讓input和文字垂直居中對齊 */
  color: #6C7275;
  font-size: 16px;
}

.payMethod:last-child {
  border: none;
}

.shipMethod input,
.payMethod input,
.member input {
  appearance: none; 
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #F7BF58;
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}


.shipMethod input:checked,
.payMethod input:checked,
.member input:checked {
  background-color: #29755D; 
  border: 2px solid #F7BF58;
  position: relative;
}

.shipMethod input:checked::after,
.payMethod input:checked::after,
.member input:checked::after {
  content: '✔'; 
  font-size: 14px;
  color: #F7BF58;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shipMethod div {
  font-size: 18px;
  font-weight: bold;
}

.shipMethod .payment {
  color: #6C7275;
  font-size: 16px;
}

.error {
  color: red;
  margin-left: 5px;
  min-height: 25px; /* 固定錯誤訊息區域的高度 */
}

.member {
  margin-left: 8px;
  margin-top: 10px;
 
}

/* 渲染表單 */
.formContainer {
  max-height: 700px;
  min-height: 250px; /* 設定一個足夠容納表單的最小高度 */
  transition: all 0.3s ease-in-out;
}


/* 手機版*/
@media (max-width: 768px) {
  .shipContainer2 {
    display: flex;
    flex-direction: column;
  }

  .formContainer {
    width: 100%;
    
  }

  .title,
  .payMethod, 
  .shipMethod,
  .shipMethod div  {
    font-size: 16px;
  }

  .shipMethod .payment {
    font-size: 14px;
  }

  .error {
    font-size: 14px;
    min-height: 16px;
  }
}