  
  .container {
    width: 60%;
    /* background-color: #f4f4f4; */
    margin: auto 100px;
    /* padding:  */
    /* margin-left: 100px; */
    /* margin-right: 100px; */
    /* display: flex; */
  }
  
  /* 麵包屑 */
  .bread{
      /* margin-bottom: 0; */
      /* padding-bottom: 0; */
      padding: 0 20px;
      margin-bottom: 10px;
  
      border-bottom: 3px solid #a0c4b0;
  }
  .breadcrumb{
      line-height:58px;
      padding: 0;
  }
  
  .notActiveText{
      text-decoration: none;
      color: #000;
  }
  
  .active{
      color: #29755d;
      font-weight: bold;
  }
  
  .top{
      display: flex;
      justify-content: space-between;
  }
  
  /* 開團按鈕 */
  .create{
      width: 97%;
      border-radius: 10px;
      background-color: #f7bf58;
      border: none;
      font-size: 30px;
      color: #fff;
      margin-bottom: 10px;
      font-weight: bold;
  
      &:active{
          border-radius: 10px;
          background-color: #f3b46a;
          /* border: 3px solid #c87a1e; */
          color: #a26318;
      }
  }
  
  /* 單一列表 */
  .list {
    /* width: 1440px; */
    /* height: 330px; */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #fff;
    margin-bottom: 10px;

  
    &:hover{
      background-color: #e4e4e4;
    }
  }
  
  /* 單一活動圖片 */
  .img {
    position: relative;
    padding: 0;
    margin-right: 20px;
    width: 215px;
    height: 215px;
    background-image: url("/photo/activity/activity-basketballCourt.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
  }
  
  
  /* 收藏 */
  .iconLikeStroke{
      position: absolute;
      margin-top: 6px;
      font-size: 24px;
      font-weight: bold;
  }

  .iconLikeStrokeFill{
    position: absolute;
      margin-top: 6px;
      font-size: 24px;
      font-weight: bold;
      color: deeppink;
  }
  
  .information{
      width: 300px;
  }
  
  /* 單一活動標題 */
  .title {
    margin-bottom: 10px;
  }
  
  .iconTitle{
    color: #29755d;
    font-size: 32px;
  }

  .titleIcons {
    width: 35px;
    height: 35px;
    margin-right: 44px;
  }
  .titleIcon {
    height: 100%;
  }
  
  .title .titleText {
    font-size: 26px;
    font-family: Inter;
    font-weight: bold;
    color: #3f6d62;
  }
  
  /* 活動資訊 */
  .info {
    padding: 0;
    font-weight: 300;
    color: #000;
  }
  
  /* 內容文字 */
  .info p {
    font-style: 16px;
    font-family: Inter;
    margin-bottom: 12px;
  }
  
  .info p .infoTitle {
    font-weight: bold;
  }
  
  /* 地圖 icons */
  .info i {
    margin-left: 10px;
    color: crimson;
    &:hover {
      color: rgb(233, 95, 122);
    }
  }
  
  /* 我要報名按鈕 */
  
  .joinButton {
    width: 140px;
    height: 140px;
    border-radius: 10px;
    background-color: #3f6d62;
    border: none;
    box-sizing: border-box;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 15px;
  
    &:active {
      background-color: #7aaa9b;
      border: 2px solid #29755d;
      color: #3f6d62;
    }
  }
  
  .joinInformation{
    height: 60px;
    font-size: 24px;
  }
  
  .memberButton {
    margin-top: 35px;
    width: 100%;
    position: relative;
    border-radius: 10px;
    box-sizing: border-box;
    height: 61px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 11px;
    text-align: right;
    font-size: 26px;
    color: #3f6d62;
    font-family: Inter;
  }
  
  .buttonDisabled{
      background-color: gray;
      color: #fff;
      box-shadow:none;
      border: none;
  
      &:active{
        background-color: gray;
        color: #fff;
        box-shadow:none;
        border: none;
      }
  }
  
  
  /* Modal */
  .bgc{
      background-color: #F4F4F4;
  }
  
  .register{
    border-radius: 10px;
    background-color: #3f6d62;
    border: none;
    box-sizing: border-box;
    /* font-size: 30px; */
    font-weight: bold;
    color: #fff;
    height: 40px;
    /* margin-bottom: 15px; */
  
  
    &:active {
      background-color: #7aaa9b;
      border: 2px solid #29755d;
      color: #3f6d62;
    }
  }
  
  .cancel{
    border-radius: 10px;
    background-color: gray;
    border: 2px solid gray;
    box-sizing: border-box;
    /* font-size: 30px; */
    font-weight: bold;
    color: #fff;
    height: 40px;
  
    &:active {
      background-color: black;
      border: 2px solid black;
      color: #fff;
    }
  }
  
  .inputGroup{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
  }
  
  /* 人數選擇 */
  .selectGroup {
      display: flex;
      align-items: center;
      margin: 15px 0;
      margin-right: 3%;
      border: 3px solid #a0c4b0;
      padding: 5px 10px;
      border-radius: 10px;
      width: 300px;
      background-color: #fff;
  }
  
  .selectGroup label {
      flex: 1;
      color: #3f6d62;
      font-weight: bold;
  }
  
  .selectGroup .peopleLabel{
    width: 60px;
  }
  
  .selectGroup select {
      border: none;
      background: transparent;
      font-size: 16px;
      color: black;
      cursor: pointer;
      width: 300px;
  }
  
  .group1{
    width: 450px;
  }
  
  .selectGroup .people{
    width: 290px;
  }
  
  .inputPrice{
      border: 3px solid #a0c4b0;
      padding: 5px 10px;
      border-radius: 10px;
      width: 450px;
      text-align: center;
      margin-bottom: 17px;
      background-color: #fff;
  
  }
  
  .textareaInput{
      border: 3px solid #a0c4b0;
      padding: 5px 10px;
      border-radius: 10px;
      width: 450px;
      height: 180px;
  }
  
  /* 分頁 */
  .containerPage{
      display: flex;
      justify-content: center;
      
  }
  
  .pagination{
      margin-top: 50px;
  }
  
  .pageLink{
      color: #29755d;
  }