.Section {
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 18px;
  margin: 20px 0 10px 0;
}
.check {
  display: flex;
  flex-direction: column;
}

/* 隱藏原生 checkbox */
.label input {
  display: none;
}
/* 自訂 checkbox 樣式 */
.label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkMark {
  width: 18px;
  height: 18px;
  border: 1.5px solid #A8ACAA; /* 外框顏色 */
  border-radius: 3px; /* 圓角 */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  transition: all 0.3s ease;
}

/* 當 checkbox 被選中時，改變勾勾顏色 */
.label input:checked + .checkMark {
  background-color: #7aaa9b; /* 你想要的顏色 */
  border-color: #29755d;
}

/* 自製勾勾 */
.label input:checked + .checkMark::after {
  content: "✔"; /* Unicode 勾勾符號 */
  color: white; /* 勾勾顏色 */
  font-size: 14px;
  font-weight: bold;
}

/* 篩選按鈕 */
/* .filterBtn{
  display: flex;
  justify-content: end;
} */

.btn {
  padding: 5px;
  margin-top: 20px;
  font-size: 16px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  width: 50%;
  background: #bde6d9;
  color: #29755d;
  border: 3px solid #29755d63;
}
.btn:hover {
  background: #7aaa9b;
  color: #29755d;
  border: 3px solid #29755d;
}
