.search {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.searchForm {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px; /* ⬅️ 讓 input 和按鈕有一點間隔 */
}

/* 搜尋框 */
.inputWrapper {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  padding: 6px 36px 6px 8px; /* ✅ 右側多留空間放 icon */
  border: none;
  border-bottom: 2px solid #aaccc0;
  font-size: 14px;
  outline: none;
  background: transparent;
}

.input:focus {
  transition: 0.3s;
  border-bottom: 3px solid #528f7c;
}

.iconButton {
  position: absolute;
  right: 3px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
  color: #528f7c;
  padding: 4px;
  width: 30px;
  height: 30px;
}

.iconButton:hover {
  background-color: #e6eaee;
  border-radius: 50%;
}

.iconSearch {
  color: #528f7c;
  font-size: 16px;
  background: none;
}

.clearSearch {
  margin-top: 5px;
  width: 100%;
  cursor: pointer;
}


/* 手機板 */
@media (max-width: 768px) {
  .Main {
    flex-direction: column;
  }

  .sideBar {
    width: 100%;
    flex: none;
    max-width: none;
    padding-right: 0;
    margin-bottom: 16px;
  }

  .mainContent {
    width: 100%;
  }
}