.section-title {
  color: #005b3e;
  font-family: Inter;
  font-size: 26px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 6.24px;
  width: 100%;
}
.announcements {
    display: flex;
    padding-bottom: 50px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    border-bottom: 1px solid #000;
  }
  
  .announcement-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    width: 100%;
  }
  
  .announcement-item {
    color: #241c23;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 4px;
    width: 100%;
  }
  
 