.section-title {
    color: #005b3e;
    font-family: Inter;
    font-size: 26px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 6.24px;
    width: 100%;
  }
  /* 取消開團 */
 .cancel-activity {
    display: flex;
    padding-bottom: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 100%;
    border-bottom: 1px solid #000;
  }
  
  .cancel-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
  }
  
  .cancel-reasons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
  }
  
  .reason-option {
    display: flex;
    align-items: center;
    gap: 22px;
    cursor: pointer;
    position: relative;
  }
  
  .reason-radio {
    position: absolute;
    opacity: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  
  /* 自訂 radio 樣式 */
  .radio-custom {
    width: 30px;
    height: 30px;
    border: 3px solid #a3c4ba;
    border-radius: 50%;
    background-color: white;
    transition: background 0.3s, border-color 0.3s;
  }
  
  /* 選取時的樣式 */
  .reason-radio:checked+.radio-custom {
    background-color: #528f7c;
    border-color: #528f7c;
  }
  
  /* 讓整個 label 可點擊 */
  .reason-option:hover .radio-custom {
    border-color: #528f7c;
  }
  
  .reason-text {
    color: #528f7c;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 4px;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid #a3c4ba;
    background-color: #fff;
  }
  
  .cancel-button {
    padding: 13px 40px;
    border-radius: 10px;
    outline: 3px solid var(--ousidestroke, rgba(41, 117, 93, 0.39));
    outline-offset: -3px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex;
    font-size: 20px;
    font-family: Inter, sans-serif;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 4px;
    word-wrap: break-word;
    cursor: pointer;
  }
  
  /* 預設樣式 */
  .cancel-button.default {
    background: #A5E1CF;
    box-shadow: -2px -2px 10px rgba(41, 117, 93, 0.46) inset;
    color: #29755D;
  }
  
  /* 點擊後樣式 */
  .cancel-button.clicked {
    background: #7AAA9B;
    outline: 3px solid #29755D;
  }
  
  /* 禁用樣式 */
  .cancel-button.disabled {
    background-color: #ADADAD;
    cursor: not-allowed;
    pointer-events: none;
    font-size: 18px;
    font-weight: bold;
    color: #6C7275;
    transition: background 0.2s;
    outline: 3px solid #6C7275;
  }
  
  
  
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
  }