.activity-page {
  display: flex;
  width: 100%;
  padding: 100px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #fff;
}

.activity-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 44px;
  width: 100%;
}
.activity-title {
  color: #005b3e;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 9.6px;
  width: 100%;
}
