.section-title {
  color: #005b3e;
  font-family: Inter;
  font-size: 26px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 6.24px;
  width: 100%;
}
  
  .participants-count {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 30%;
  }
  
  .count-display {
    color: #3f6d62;
    text-align: center;
    font-family: Inter;
    font-size: 26px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 6.24px;
    height: 61px;
    padding: 10px 11px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #3f6d62;
    background-color: #f4f4f4;
  }