.body {
  font-family: "Inter", sans-serif;
  background-color: rgb(255, 255, 255);
  margin: 0px;
}

.container {
  width: 70%;
  margin: auto;
  padding: 150px 100px 100px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search {
  width: 98%;
  height: 70px;
  border-bottom: 3px solid #528f7c;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

.iconSearch {
  display: flex;
  align-items: center;
  font-size: 30px;
  color: #528f7c;
  cursor: pointer;
}

.itemSection {
  width: 100%;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.titleBg{
  width: 100%;
  margin-bottom: 50px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #29755D;
  padding: 10px 0 10px 0;
  border-radius: 15px 15px 0 0;
}
.title {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 9.6px;
}

/* more */

.more {
  display: flex;
  justify-content: flex-end;
  align-items: center; /* 讓內容垂直對齊 */
  margin-top: 50px;
  width: 95%;
}

.textBox {
  display: flex;
  justify-content: end;
  align-content: center; /* 讓文字和底線 + 箭頭都對齊 */
  position: relative;

}

.text {
  color: #528f7c;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2; /* 避免行高過大影響對齊 */
  letter-spacing: 6.24px;
  text-align: center;
}

.textBox .iconRight{
  font-size: 26px;
}
