.body {
  font-family: "Inter", sans-serif;
  background-color: rgb(255, 255, 255);
  margin: 0px;
}

.container {
  width: 80%;
  margin: auto;
  padding: 150px 100px 100px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Main{
  display: flex;
  flex-direction: row;
}

.breadcrumb{
  margin: 10px 0;
}

.sideBar{
  width: 16%;
  margin-right: 20px;
}

.mainContent{
  width: 84%;
}

.itemSection {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.titleBg {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #29755d;
  padding: 10px 0 10px 0;
  border-radius: 15px 15px 0 0;
}
.title {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 9.6px;
}

/* more */

.more {
  display: flex;
  justify-content: flex-end;
  align-items: center; /* 讓內容垂直對齊 */
  margin-top: 50px;
  margin-bottom: 50px;
  width: 95%;
}

.textBox {
  display: flex;
  justify-content: end;
  align-content: center; /* 讓文字和底線 + 箭頭都對齊 */
  position: relative;
}

.text {
  color: #528f7c;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2; /* 避免行高過大影響對齊 */
  letter-spacing: 6.24px;
  text-align: center;
}

.textBox .iconRight {
  font-size: 26px;
  transition: transform 0.3s ease;
  color: #528f7c;
}

.textBox:hover .iconRight {
  transform: translateX(10px);
  text-shadow: 
  -8px 0 4px rgba(0, 0, 0, 0.3), 
    -16px 0 5px rgba(0, 0, 0, 0.25), 
    -24px 0 6px rgba(0, 0, 0, 0.2);
}