.body {
  font-family: "Inter", sans-serif;
  background-color: rgb(255, 255, 255);
  margin: 0px;
}

.container {
  width: 70vw;
  max-width: 1280px; /* 限制最大寬度 */
  margin: auto;
  padding: 120px 20px 60px 20px; /* 行動裝置也能吃 */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Main{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* 麵包屑 */
.breadcrumb {
  margin: 10px 0;
}

.link {
  text-decoration: none;
  color: #818785;
  transition: color 0.3s ease-in-out;
}

.link:hover {
  color: #528f7c;
  font-weight: bold;
}

.separator {
  margin: 0 5px;
  color: #ccc;
}

.active {
  font-weight: bold;
  color: #000;
}
/* end麵包屑 */

.sideBar{
  flex: 1 1 240px;
  max-width: 300px;
}

.mainContent{
  flex: 3 1 0;
}

.itemSection {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.titleBg {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #29755d;
  padding: 10px 0 10px 0;
  border-radius: 15px 15px 0 0;
}
.title {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 9.6px;
}

/* more */


/* 手機版 */

@media (max-width: 768px) {
  .Main {
    flex-direction: column;
  }

  .sideBar,
  .mainContent {
    width: 100%;
    max-width: 100%;
  }
}