/* ************** footer **************** */
/* 頁腳容器 */
.footerContainer {
  width: 100vw;
  align-self: stretch;
  height: auto;
  padding: 50px 50px 20px 50px;
  background: #528F7C;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* 中間分隔線 */
.footerDivider {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 122px;
}

.line {
  flex: 1;
  height: 0;
  border: 3px rgba(255, 255, 255, 0.50) solid;
}

.footerLogo {
  width: 160px;
  height: 45px;
  position: relative;
}

/* 主要連結區 */
.footerLinks {
  width: 80%;
  padding: 0 100px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
}

.footerSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 50px 0px;
}

.footerTitle {
  font-size: 22px;
  font-family: Inter, sans-serif;
  font-weight: 700;
  letter-spacing: 6px;
  color: #ffffff;
  text-align: center;

}

.footerLink {
  font-size: 18px;
  font-family: Inter, sans-serif;
  font-weight: 700;
  letter-spacing: 6px;
  color: white;
  text-decoration: none;
  transition: color 0.3s;
  text-align: center;
}

.footerLink:hover {
  border-bottom: 1px solid white;
  color: white
}

/* 版權資訊 & 社群連結 */
.footerBottom {
  width: 100%;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  font-size: 14px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
  color: white;
}

.socialIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.iconFb,
.iconIg,
.iconMail {
  font-size: 30px;
  color: white;
}

@media screen and (max-width: 768px) {
  .footerContainer {
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px 100px 0px 100px;
  }

  .footerDivider {
    flex-direction: column;
    gap: 8px;
    border-bottom: 3px rgba(255, 255, 255, 0.50) solid;
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 20px;
    order: 1;
  }

  .line {
    display: none;
  }

  /* .footerLogo {
    width: 160px;
    height: auto;
  } */
  .footerLogo {
    width: 160px;
    height: 45px;
    position: relative;
    scale: 0.8;

  }


  .footerLinks {
    flex-direction: column;
    gap: 10px;
    padding: 0;
    width: 100%;
    align-items: center;
    order: 3;
  }

  .footerSection {
    align-items: flex-start;
    gap: 10px;
    padding: 20px 0px;
  }

  .footerTitle {
    font-size: 22px;
    letter-spacing: 4px;
  }

  .footerLink {
    font-size: 20px;
    letter-spacing: 2px;
    
  }

  .footerLink:hover {
    border-bottom: 1px solid#ffffff;
  }

  .footerBottom {
    order: 2; /* ✅ 讓它在手機版排到 footerDivider 後面 */
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding: 10px 0;
    align-items: center;
  }


  .copyright {
    font-size: 12px;
    text-align: start;
  }

  .socialIcons {
    gap: 20px;
  }

  .iconFb,
  .iconIg,
  .iconMail {
    font-size: 26px;
  }
}