/* 按鈕1 */
.button {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  width: 220px;
  letter-spacing: 4px;
  color: #FFF;
  border: 3px solid #29755d63;
  background-color: #29755d;
  border: 3px solid #bde6d9;
}

.button:hover{
  background: #bde6d9;
  color: #29755d;
  border: 3px solid #29755d;
}

  

/* 按鈕2 */
.btn {
padding: 10px 40px;
font-size: 18px;
font-weight: 700;
border-radius: 10px;
text-align: center;
cursor: pointer;
width: 220px;
letter-spacing: 4px;
background: #f7bf58;
color: white;
border: 3px solid #ffca8d;
margin-left: 10px;
}

.btn:hover{
  background: #f3b46a;
color: #a26318;
border: 3px solid #c87a1e;
}

/* 按鈕3 */
.btn3 {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  width: 220px;
  letter-spacing: 4px;
  background: #f7bf58;
  color: white;
  border: 3px solid #ffca8d;
  }
  
  .btn3:hover{
    background: #f3b46a;
  color: #a26318;
  border: 3px solid #c87a1e;
  }
  

/* 手機版調整為卡片式 */
@media (max-width: 768px) {
  /* 按鈕2 */
  .btn {
    margin-left: 0px;
    margin-top: 20px;
  }
}